@page "/users"
<h3>Index</h3>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 row">
                                <div class="col-6 row">
                                    <label class="col-6">Page Size: </label>
                                    <div class=" col-6">
                                        <select @onchange="OnPageChange" class="form-control form-control-sm">
                                            <option value="3">3</option>
                                            <option value="5" selected>5</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label><input type="search" @onchange="OnSearchChange" class="form-control form-control-sm" placeholder="Search" /></label>
                                </div>
                            </div>

                          @*   <div class="col-6">
                                <div class="card-tools text-right">
                                    <button @onclick="AddUser" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Add</button>
                                </div>
                            </div> *@
                            <!-- Page Size Selector -->

                        </div>

                    </div>
                    <div class="card-body">
                        <div class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <QuickGrid @ref="grid" ItemsProvider="_userResponseProvider" Pagination="pagination" class="table table-bordered table-striped">
                                    <PropertyColumn Property="@(p => p.FirstName)" Title="Name" Sortable="true" />
                                    <TemplateColumn Title="Status" Sortable="true">
                                        @if (context.IsActive)
                                        {
                                            <span class="badge badge-success">Active</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger">In-Active</span>
                                        }
                                    </TemplateColumn>
                                    <PropertyColumn Property="@(p => p.DesignationName)" Title="Designation" Sortable="true" />
                                    @* <PropertyColumn Property="@(p => p.CreatedDate)" Title="Create Date" Sortable="true" />
                                    <PropertyColumn Property="@(p => p.ModifiedDate)" Title="Modify Date" Sortable="true" /> *@
                                    <TemplateColumn Title="Actions">
                                        <span @onclick="@(() => EditUser(context))" class="btn btn-primary btn-sm">Edit</span>
                                        @* <span @onclick="() => OnDelete(context.Id,context.FirstName)" class="btn btn-danger btn-sm">Delete</span> *@
                                    </TemplateColumn>
                                </QuickGrid>
                                <Paginator State="pagination" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<AddEdit @ref="createRef" SaveChanged="SaveChanges" />

